*{
    padding: 0;
    margin: 0;
}
.nav-item a{
    font-weight: bolder;
 
}
.nav-link{
    color: white;
}
#intro{
    background: url(../images/foodwallpaper.jpg) no-repeat center center/cover ;
    height: 500px;
    padding-top: 10%;
    align-items: center;
    
}
#intro h1,h3{
    color: rgb(179, 193, 212);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

#orderbutton{
text-align: center;
}
.testimonials-image{
    height: 400px;
    width: 100%;

}
#onlinemealsh1{
    padding-top: 7%;
}
.butt{
    margin: auto;

}
#butto
{
    border-radius: 30px;
}


#container1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
height:500px ;
border: 5px solid rgb(54, 226, 212);
border-radius: 20px;


}
#container2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
height:500px ;
border: 5px solid rgb(54, 226, 212);
border-radius: 20px;
}
#container3
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
height:500px ;
border: 5px solid rgb(54, 226, 212);
border-radius: 20px;

}
#pizza{
    border-radius: 100%;
}
#services h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkslategrey;
}
#sponsers
{
    text-align: center;
}


